
@{ ViewBag.Title = "AddSocialMedia";
                Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<h2>Yeni Sosyal Medya Ekleme Sayfası</h2>

<form method="post">
    <label>Sosyal Medya Adı</label>
    <input type="text" class="form-control" name="SocialName" />
    <br />
    <label>Link</label>
    <input type="text" class="form-control" name="SocialUrl" />
    <br />
   
    <button class="btn btn-info">Ekle</button>
</form>