@model List<MyEgitimAkademi_Portfolio.Models.TestimonialInfo>

@{
    ViewBag.Title = "TestimonialInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Referans Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TestimonialID</td>
            <td>@item.SubjectText</td>
            <td><a href="/Testimonial/UpdateTestimonialInfo/@item.TestimonialID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>






