@model List<MyEgitimAkademi_Portfolio.Models.Skill2>

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<h2>Yeteneklerim</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Yetenek Adı</th>
        <th>Yetenek Değeri</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
<tr>
    <td>@x.SkillID</td>
    <td>@x.SkillTitle</td>
    <td>@x.SkillValue</td>
    <td><a href="/Skill/SkillDelete/@x.SkillID" class="btn btn-outline-danger">Sil</a></td>
    <td><a href="/Skill/SkillUpdate/@x.SkillID" class="btn btn-outline-success">Güncelle</a></td>
</tr>}
</table>
<a href="/Skill/SkillAdd/" class="btn btn-outline-primary">Yeni Yetenek Girişi</a>
