
@{ ViewBag.Title = "AddLanguage";
                Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<h2>Yeni Dil Ekleme Sayfası</h2>

<form method="post">
    <label>Dil Resim Linki</label>
    <input type="text" class="form-control" name="LangueUrl" />
    
    <button class="btn btn-info">Dil Ekle</button>
</form>