
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<a href="/Award/AwardInfo/" class="btn btn-outline-primary">Başlık ve Açıklamayı Düzenle</a>
<a href="/Award/Award/" class="btn btn-outline-primary">Ödülleri Düzenle</a>

