
@{ ViewBag.Title = "ExperinceAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<h2>Yeni Deneyim Ekleme Sayfası</h2>

<form method="post">
    <label>Deneyim Adı</label>
    <input type="text" class="form-control" name="ExperinceAd" />
    <br />
    <label>Deneyim Açıklaması</label>
    <input type="text" class="form-control" name="ExperinceAciklama" />
    <br />

    <button class="btn btn-info">Referansı Ekle</button>
</form>