
@{
    ViewBag.Title = "AddClientStats";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni İstatistik Ekeleme Sayfası</h2>

<form method="post">
    <label>Başlık</label>
    <input type="text" name="SunjectText" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" name="DescriptionText" class="form-control" />
    <br />
    <label>Veri</label>
    <input type="text" name="StatsValue" class="form-control" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>


