
@{
    ViewBag.Title = "AddClient";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Müşteri Ekeleme Sayfası</h2>

<form method="post">
    <label>Resim Url</label>
    <input type="text" name="NameSurname" class="form-control" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>



