
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<a href="/Client/ClientInfo/" class="btn btn-outline-primary">Başlık ve Açıklama Düzenle</a>
<a href="/Client/ClientStats/" class="btn btn-outline-primary">İstatikleri Düzenle</a>
<a href="/Client/Client/" class="btn btn-outline-primary">Müşterileri Düzenle</a>



